# Rust
/target/
Cargo.lock
**/*.rs.bk
*.pdb

# Slint
slint-ui
*.slint~
.slint_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

# PRODUCT FILES
database.db
